*.log
.DS_Store
.enva
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
.omo/run-continuation/ses_1170196deffee23HiMu5om9DN6.json
.gitignore
.sisyphus/LEARNINGS.md
.sisyphus/AGENTS.md
